# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Unneeded shit #
dependency-reduced-pom.xml
compile.bat
.project
.classpath
target*
.settings
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Aspiration.iml
WatDis.iml
.idea/inspectionProfiles/Project_Default.xml
